<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CatchFishGame.Properties.Settings.gamedbConnectionString"
   connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\assets\gamedb\gamedb.accdb;Persist Security Info=True"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
		<add key="connectionString" value="Data Source=Ansem;Initial Catalog=Test;Integrated Security=True;Pooling=False"  />
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>